#{extends 'main.html' /}
#{set title:'Welcome to WitPress' /}

<nav class="ui menu">
  <a class="ui active item" href="/">WitPress</a>
  <a class="ui item" href="/signup"> Signup  </a>
  <a class="ui item" href="/login">  Login   </a>
  <a class="ui item" href="/publicblogdirectory">Public Blog Directory</a>
  <a class="ui item" href="/about">About</a>
  <a class="ui item" href="/contact">Contact</a>
</nav> 

<section class="ui segment">
<p> Signup or Log in to the WitPress Service </p>
<img src="public/images/simpsons_cover.jpg" width="100%" height="5%">
</section>